/* src/index.css */

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Arial', sans-serif;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.dark {
  background-color: #2f3136;
  color: white;
}
